production:
  solr:
    hostname: localhost
    port: 8983
    log_level: WARNING

development:
  solr:
    hostname: localhost
    port: 8982
    log_level: INFO
    file_encoding: UTF-8
    user_language: ko
    user_country: KR

test:
  
    hostname: localhost
    port: 8981
    log_level: WARNING
