<style>
  /* order 박스 마진 */
  .order { margin: 0; }
  /* 왼쪽 검색 필터 스타일 */
  .filter_box { padding: 5px; }
  .filter_box input[type="checkbox"], .filter_box input[type="radio"] { margin-right: 5px; }
  /* 카테고리 breadcrumb */
  .left .breadcrumb { padding: 3px 7px; margin-bottom: 3px; }
  .left .categories { margin-left: 10px }
  .breadcrumb .label { text-shadow: 0 0px 0 white; }
</style>

<div class="row">
  <%= render :partial => 'left' %>
  
  <div class="span9">
    <%= render 'items/partial/search'%>
  
    <%= render 'items/partial/list'%>
  </div>
</div>
